@use '_variables' as v;
@layer global {
    @keyframes clip-out-down {
        from { clip-path: inset(0); }
        to   { clip-path: inset(100% 0 0 0); }
    }

    @keyframes clip-in-down {
        from { clip-path: inset(0 0 100% 0); }
        to   { clip-path: inset(0); }
    }

    @keyframes slide-out-left {
        from { transform: translateX(0);     opacity: 1; }
        to   { transform: translateX(-30vw); opacity: 0; }
    }

    @keyframes slide-out-right {
        from { transform: translateX(0);     opacity: 1; }
        to   { transform: translateX(30vw);  opacity: 0; }
    }

    @keyframes slide-in-left {
        from { transform: translateX(-30vw); opacity: 0; }
        to   { transform: translateX(0);     opacity: 1; }
    }

    @keyframes slide-in-right {
        from { transform: translateX(30vw);  opacity: 0; }
        to   { transform: translateX(0);     opacity: 1; }
    }

    @keyframes scroll-progress {
        from { top: 0%; }
        to   { top: 80%; }
    }

    @keyframes title-reveal {
        from { background-position: 0 100%; }
        to   { background-position: 0 0%; }
    }
}